@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model MovieBuff.ViewModels.MovieDetailViewModel
@{
    ViewData["Title"] = Model.Movie.Title;
    var imageBaseUrl = "https://image.tmdb.org/t/p/w500"; 
    var backdropBaseUrl = "https://image.tmdb.org/t/p/original";

    var directorName = "Bilgi Yok";
    var writerName = "Bilgi Yok";

    if(Model.Movie.Credits != null && Model.Movie.Credits.Crew != null && Model.Movie.Credits.Crew.Any())
    {
        var directors = Model.Movie.Credits.Crew.Where(d => d.Job == "Director").Select(d=> d.Name).ToList();
        if(directors.Any())
        {
            directorName = string.Join(",", directors);
        }
        var writers = Model.Movie.Credits.Crew.Where(w => w.Job == "Writer" || w.Job == "Screenplay").Select(w => w.Name).ToList();
        if(writers.Any())
        {
            writerName = string.Join(",", writers);
        }
    }

}
<style>
    body {
        background-color: #1a1d29;
        color: #fff;
    }
</style>
<div class="container-fluid">
    <div style="background-image: url('@(backdropBaseUrl + Model.Movie.BackdropPath)'); background-size: cover; background-position:center; position:relative; border-radius: 10px; height: 45%;">
        <div style="background: linear-gradient(to top, rgba(16, 18, 27, 1) 0%, rgba(16, 18, 27, 0.6) 100%); padding-top: 200px; padding-bottom: 50px;">
            <div class="container align-items-center text-white">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <img src="@(imageBaseUrl+ Model.Movie.PosterPath)" style="max-width: 300px; border-radius: 12px;"/>
                    </div>
    
                    <div class="col-md-8">
                        <h1 class="text-white">@Model.Movie.Title</h1>
                        <small class="text-white" style="font-size: 18px;">@Model.Movie.ReleaseDate.Substring(0, 4) - </small>
                        
                        @foreach(var genre in Model.Movie.Genres)
                        {
                            <small class="text-white" style="font-size: 18px;">@genre.Name</small>
                        }
                        <small class="text-white" style="font-size: 18px;">- @Model.Movie.Runtime dk</small>
                        <h3 class="text-white">Özet</h3>
                        <small class="mb-3" style="font-size: 18px;">@Model.Movie.Overview</small>
                        <h3 class="text-white">Oyuncular</h3>
                        <div class="row mb-3">
                            @if(Model.Movie.Credits != null && Model.Movie.Credits.Cast != null && Model.Movie.Credits.Cast.Any())
                            {
                                @foreach (var castMember in Model.Movie.Credits.Cast.Take(5))
                                {
                                    <div class="col-md-2">
                                        <div class="card bg-transparent border-0">
                                            @if (!string.IsNullOrEmpty(castMember.ProfilePath))
                                            {
                                                <img src="@(imageBaseUrl + castMember.ProfilePath)" class="rounded-circle mb-2"/>
                                            }
                                            else
                                            {
                                                <img src="/images/default-profile.webp" class="rounded-circle mb-2" />
                                            }
                                            <strong class="mb-1" style="color: white;">@castMember.Name</strong>
                                            <small class="mb-1" style="color: white;">@castMember.Character</small>
                                        </div>
                                    </div>
                                } 
                            }
                            else
                            {
                                <div class="col">
                                    <h5>Bu film için oyuncu bilgisi bulunamadı.</h5>
                                </div>
                            }
                            
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <h3 class="text-white">Yönetmen:</h3>
                                <h5 class="text-white" style="font-weight: lighter;">@directorName</h5>
                            </div>
                            <div class="col">
                                <h3 class="text-white">Senarist:</h3>
                                <h5 class="text-white" style="font-weight: lighter;">@writerName</h5>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <h3>IMDB Puanı</h3>
                                <h5 class="text-white"><i class="fa-solid fa-star" style="color: blue;"></i>@Model.Movie.VoteAverage.ToString("0.0")/10</h5>
                            </div>
                        </div>
                        <div class="row mt-3">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div class="col">
                                    @if (Model.IsFavorite)
                                    {
                                        <button id="favoriteBtn" class="btn btn-danger" data-filmid="@Model.Movie.Id" data-action="remove">Favorilerden Kaldır</button>
                                    }
                                    else
                                    {
                                        <button id="favoriteBtn" class="btn btn-primary" data-filmid="@Model.Movie.Id" data-action="add"><i class="fa-solid fa-heart"></i>  Favorilere Ekle</button>

                                    }
                                </div>
                               
                                <div class="col">
                                    @if (Model.IsInWatchLater)
                                    {
                                        <button id="watchLaterBtn" class="btn btn-secondary" data-filmid="@Model.Movie.Id" data-action="remove"><i class="fa-regular fa-clock"></i>  Daha Sonra İzleden Kaldır</button>
                                    }
                                    else
                                    {
                                        <button id="watchLaterBtn" class="btn btn-danger" data-filmid="@Model.Movie.Id" data-action="add"> <i class="fa-regular fa-clock"></i>Daha Sonra İzle</button>
                                    }
                                </div>

                                <div class="row mb-3">
                                    <h3 class="text-white">Puan Ver</h3>
                                    <div id="star-rating" data-filmid="@Model.Movie.Id" data-current-rating="@Model.UserRating">
                                        @for(int a = 1; a <= 10; a++)
                                        {
                                            <i class="star @(Model.UserRating >=a ? "fa-solid" : "fa-regular") fa-star" data-value="@a"></i>
                                        }
                                    </div>
                                    <button id="removeRatingBtn" class="btn btn-sm btn-outline-danger mt-2 @(Model.UserRating == null ? "d-none" : "")">Puanı Kaldır</button>
                                    <div id="ratingMessage" class="mt-2"></div>
                                </div>
                            }
                            
                            
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function() {

            $("#favoriteBtn").click(function() {
                var button = $(this);
                var filmId = button.data('filmid');
                var action = button.data('action');
                var apiUrl = '/api/Interactions/Favorites';
                var httpMethod = (action === 'add') ? 'POST' : 'DELETE';
                if (action === 'remove') {
                    apiUrl += '/' + filmId;
                }

                $.ajax({
                    url: apiUrl,
                    type: httpMethod,
                    contentType: 'application/json',
                    data: JSON.stringify({ movieId: filmId }),
                    success: function() {
                        if (action === 'add') {
                            button.text('Favorilerden Çıkar ✔').removeClass('btn-danger').addClass('btn-success').data('action', 'remove');
                        } else {
                            button.text('Favorilere Ekle ❤️').removeClass('btn-success').addClass('btn-danger').data('action', 'add');
                        }
                    },
                    error: function(xhr) { alert("Hata: " + xhr.responseText); }
                });
            });

            
            $("#watchLaterBtn").click(function() {
                var button = $(this);
                var filmId = button.data('filmid');
                var action = button.data('action');
                var apiUrl = '/api/Interactions/WatchLaters';
                var httpMethod = (action === 'add') ? 'POST' : 'DELETE';
                if (action === 'remove') {
                    apiUrl += '/' + filmId;
                }

                $.ajax({
                    url: apiUrl,
                    type: httpMethod,
                    contentType: 'application/json',
                    data: JSON.stringify({ movieId: filmId }),
                    success: function() {
                        if (action === 'add') {
                            button.text('İzleme Listesinden Çıkar ✔').removeClass('btn-info').addClass('btn-success').data('action', 'remove');
                        } else {
                            button.text('Sonra İzle 🕒').removeClass('btn-success').addClass('btn-info').data('action', 'add');
                        }
                    },
                    error: function(xhr) { alert("Hata: " + xhr.responseText); }
                });
            });

            function highlightStars(ratingValue) {
                $('#star-rating .star').each(function() {
                    var starValue = $(this).data('value');
                    if (starValue <= ratingValue) {
                        $(this).removeClass('fa-regular').addClass('fa-solid');
                    } else {
                        $(this).removeClass('fa-solid').addClass('fa-regular');
                    }
                });
            }
            var ratingContainer = $('#star-rating');
            var filmId = ratingContainer.data('filmid');

            ratingContainer.find('.star').click(function() {
                var newRating = $(this).data('value');
                var currentRating = ratingContainer.data('current-rating');
                var httpMethod = (currentRating) ? 'PUT' : 'POST'; 

                $.ajax({
                    url: '/api/Interactions/Ratings',
                    type: httpMethod,
                    contentType: 'application/json',
                    data: JSON.stringify({ movieId: filmId, rating: newRating }),
                    success: function() {
                        ratingContainer.data('current-rating', newRating);
                        $('#removeRatingBtn').removeClass('d-none')

                        highlightStars(newRating);
                    },
                    error: function(xhr) { alert("Hata: " + xhr.responseText); }
                });
            });

            $('#removeRatingBtn').click(function() {
                $.ajax({
                    url: '/api/Interactions/Ratings/' + filmId,
                    type: 'DELETE',
                    success: function() {
                        ratingContainer.data('current-rating', '');
                        $('#removeRatingBtn').addClass('d-none');
                        highlightStars(0);
                    },
                    error: function(xhr) { alert("Hata: " + xhr.responseText); }
                });
            });
        });
    </script>
}
